In [1]:
import os
from pathlib import Path

import pandas as pd

In [2]:
df208 = pd.DataFrame()
for year in range(1962, 2025):
    fname = Path.cwd() / "data" / "sooList" / f"soo_list_{year}.json"
    with open(fname, "r", encoding="utf-8") as f:
        df_temp = pd.read_json(fname, encoding="utf-8")
        df208 = pd.concat([df208, df_temp[df_temp["sln_cde"] == 208]])
df208.reset_index(drop=True, inplace=True)
df208.head()

,nut_no3_n,sln_cde,lon,wtr_trn,wtr_tmp,nut_no2_n,gru_nam,res_vsl_nm,nut_sio2_si,wtr_dep,...,sta_cde,qc_wtr,qc_sal,obs_dtm,sal,atm,nut_ph,qc_dox,nut_po4_p,lat
0,NaN,208,130.033,14.0,16.50,NaN,동해,북한산호,NaN,0,...,5,1,1,1962-12-31 12:14,34.67,1026.7,NaN,1,NaN,35.08
1,NaN,208,130.033,14.0,14.39,NaN,동해,북한산호,NaN,10,...,5,1,1,1962-12-31 12:14,34.69,1026.7,NaN,1,NaN,35.08
2,NaN,208,130.033,14.0,16.14,NaN,동해,북한산호,NaN,25,...,5,1,1,1962-12-31 12:14,34.63,1026.7,NaN,1,NaN,35.08
3,NaN,208,130.033,14.0,16.54,NaN,동해,북한산호,NaN,50,...,5,1,1,1962-12-31 12:14,34.67,1026.7,NaN,1,NaN,35.08
4,NaN,208,130.033,14.0,16.57,NaN,동해,북한산호,NaN,100,...,5,1,1,1962-12-31 12:14,34.74,1026.7,NaN,1,NaN,35.08

In [3]:
df208.to_csv(Path.cwd() / "data" / "sooList" / "soo_list_208.csv", index=False, encoding="utf-8")
print("soo_list_208.csv saved successfully.")

soo_list_208.csv saved successfully.